/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/docker/logs
/public/bundled
/public/mix-manifest.json
/notes
/public/cktemplate/ckfinder/config.php
.DS_Store
